*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 350px;
    background: #ffb6c1;
    padding: 20px;
    border-radius: 15px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    width:100%;
    padding:10px;
    cursor:pointer;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    transition: 0.3s;
}



ul{
    margin-top:20px;
}

li{
    list-style:none;
    background:white;
    color:black;
    padding:10px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:5px;
}

.deleteBtn{
    width:auto;              
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    cursor:pointer;
    border-radius:5px;
}
